header{
	font-family: indie flower;
	background: grey;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
}

footer{
	font-family: indie flower;
	background: grey;
	color: white;
	text-align: center;
	font-size: 18px;
}

body{
	font-family: century;
	background-color: #f1fbf1; 
}

img{
	width: 100%;
}

nav{
	float: left;
	width: 10%;
	padding: 10%;
}

nav ul{
	list-style-type: none;
}

article{
	padding: 10%;
	margin-left: 20%;
}

a:hover{
	color: green;
}